@using HRProContracts.ViewModels
@using HRProDataModels.Enums
@using Newtonsoft.Json
@model DocumentViewModel

@{
    var title = "Документ";
}

<div class="container">
    <h1>@title</h1>
    <form method="post" class="row g-3 needs-validation" novalidate>
        <input type="hidden" name="id" value="@Model?.Id" />
        <input type="hidden" name="CompanyId" value="@Model?.CompanyId" />
        <input type="hidden" name="CreatorId" value="@Model?.CreatorId" />

        <div class="col-md-6">
            <label for="Name" class="form-label">Название документа <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model?.Name" required placeholder="Введите название документа">
            <div class="invalid-feedback">Пожалуйста, введите название документа.</div>
        </div>

        <div class="col-md-6">
            <label asp-for="Status" class="form-label">Статус документа</label>
            <select asp-for="Status" class="form-control" asp-items="@GetStatusSelectList()"></select>
        </div>

        <div class="col-md-6">
            <label asp-for="TemplateId" class="form-label">Шаблон</label>
            <select asp-for="TemplateId" class="form-control" asp-items="@(new SelectList(@ViewBag.Templates, "Id", "Name"))"></select>
        </div>

        <div class="col-md-6">
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#inviteParticipantsModal">
                Настройка тегов
            </button>
        </div>

        <!-- Добавляем раздел для отображения тегов -->
        @if (ViewBag.Tags.Any())
        {
            <div class="col-md-12 mt-4">
                <h5>Теги для заполнения:</h5>
                <ul class="list-group">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <li class="list-group-item">
                            <label for="@tag" class="form-label">Введите значение для тега: <strong>@tag</strong></label>
                            <input type="text" class="form-control" id="@tag" name="@tag" placeholder="Введите значение для тега @tag">
                        </li>
                    }
                </ul>
            </div>
        }

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button class="btn btn-secondary" onclick="window.history.back();">Назад</button>
        </div>
    </form>
</div>

<div class="modal fade" id="editTagsModal" tabindex="-1" aria-labelledby="editTagsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Document" asp-action="EditTags" asp-route-templateId="@Model?.TemplateId" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteParticipantsModalLabel">Выбор участников</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    @foreach (var user in ViewBag.Users)
                    {
                        bool isInvited = ViewBag.InvitedUserIds != null && ViewBag.InvitedUserIds.Contains(user.Id);

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@user.Id" id="participant@user.Id" name="userIds[]"
                            @if (isInvited)
                            {
                                <text>checked</text>
                            } />
                            <label class="form-check-label" for="participant@user.Id">
                                @user.Name @user.Surname
                            </label>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info"
                            data-bs-toggle="modal"
                            data-bs-target="#editTagsModal"
                            data-meeting-id="@Model?.Id">
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>

@functions {
    public SelectList GetStatusSelectList()
    {
        return new SelectList(Enum.GetValues(typeof(DocumentStatusEnum)).Cast<DocumentStatusEnum>());
    }
}
