@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HRProContracts.ViewModels
@model VacancyViewModel

@{
    ViewData["Title"] = "Информация о вакансии";
    bool userRole = APIClient.User?.Role == HRProDataModels.Enums.RoleEnum.Сотрудник || APIClient.User.Role == HRProDataModels.Enums.RoleEnum.Администратор;
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <div class="card-header">
            <h2>@Model.JobTitle</h2>
        </div>
        <button class="btn btn-secondary" onclick="window.history.back();">
            <i class="bi bi-arrow-left"></i> Назад
        </button>
       @*  <form asp-controller="Vacancy" asp-action="GetStatistics" method="get" class="row g-3 needs-validation" novalidate>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dateFrom">Дата начала</label>
                    <input type="date" class="form-control" id="dateFrom" name="dateFrom" required />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dateTo">Дата окончания</label>
                    <input type="date" class="form-control" id="dateTo" name="dateTo" required />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Скачать статистику</button>
        </form> *@
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Компания:</dt>
                        <dd class="col-sm-8">@Model.CompanyName</dd>

                        <dt class="col-sm-4">Тип занятости:</dt>
                        <dd class="col-sm-8">@Model.JobType</dd>

                        <dt class="col-sm-4">Зарплата:</dt>
                        <dd class="col-sm-8">@Model.Salary</dd>

                        <dt class="col-sm-4">Дата публикации:</dt>
                        <dd class="col-sm-8">@Model.CreatedAt.ToShortDateString()</dd>

                        <dt class="col-sm-4">Статус:</dt>
                        <dd class="col-sm-8">@Model.Status</dd>

                        @* <dt class="col-sm-4">Теги:</dt>
                        <dd class="col-sm-8">@Model.Tags</dd> *@
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">@* 
                        <dt class="col-sm-4">Требования:</dt>
                        <dd class="col-sm-8">@Html.Raw(Model.Requirements)</dd>

                        <dt class="col-sm-4">Обязанности:</dt>
                        <dd class="col-sm-8">@Html.Raw(Model.Responsibilities)</dd> *@

                        <dt class="col-sm-4">Описание:</dt>
                        <dd class="col-sm-8">@Html.Raw(Model.Description)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

   @*  @if (userRole)
    {
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Резюме на вакансию</h3>
                </div>
                <div class="card-body">
                    @if (Model.Resumes != null && Model.Resumes.Any())
                    {
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Кандидат</th>
                                    <th>Статус</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var resume in Model.Resumes)
                                {
                                    <tr>
                                        <td>@resume.Title</td>
                                        <td>@resume.CandidateInfo</td>
                                        <td>@resume.Status</td>
                                        <td>
                                            <a asp-action="ResumeDetails" asp-controller="Resume" asp-route-id="@resume.Id" class="btn btn-info btn-sm">
                                                <i class="bi bi-eye"></i> Посмотреть и оценить
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Нет резюме для данной вакансии.</p>
                    }
                </div>
            </div>
        </div>
    } *@
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.js"></script>

<style>
    .btn {
        background-color: #3E12E3;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 12px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .btn:hover {
            background-color: #2200A4;
            transform: scale(1.05);
        }
</style>
